
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .invoice-section {
    font-family: 'Jost', sans-serif;

    background-color: #06A3DA;
    padding: 80px 0;
    text-align: center;
  }
  
  .invoice-title {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
  }
  
  .invoice-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .invoice-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 1000px;
    text-align: center;
  }
  
  .invoice-details-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .invoice-form {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .invoice-submit-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .invoice-submit-button:hover {
    background-color: #555;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  